@media (max-width: 1250px) {
    .responsiva{
    max-width: 1200px
    }
}
@media (max-width: 1200px ) {
    .responsiva{
    max-width: 1000px
    }
}
@media (max-width: 768px: ) {
    .responsiva{
    max-width: 500px
    }
}
@media (max-width: 480px ) {
    .responsiva{
    max-width: 300px
    }
}
